<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- NuGet.org as primary source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Azure Artifacts Private Feed for TaskMaster packages -->
    <add key="tm-packages" value="https://pkgs.dev.azure.com/jasonberkes/TaskMaster/_packaging/tm-packages/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="tm-packages">
      <package pattern="TaskMaster.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
